* {
  box-sizing: border-box;
}

:root {
  --select-color: rgb(255, 198, 123);
}

body {
  height: 100vh;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
  display: flex;
  height: 100%;
}

.filter-topics-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.filter-button {
  outline: none;
  border: none;
  margin: 0px;
  min-width: 50px;
  min-height: 25px;
  border-radius: 100px;
  font-size: 16px;
  text-transform: capitalize;
  padding: 10px;
}

.filter-button:hover {
  background-color: var(--select-color);
}

.compare-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  height: 100vh;
}

.animal-data-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.topic-container {
  display: none;
  align-items: flex-end;
}

.data-point-container {
  width: 64px;
  margin: 10px;
  text-align: center;
}

.topic-value {
  animation: 0.5s linear 0s 1 topicValueAnimation;
  margin: 10px auto;
  width: 50px;
  height: 50px;
  padding-top: 11px;
  font-size: 24px;
  border-radius: 100px;
  background-color: #333;
  color: #fff;
}

.animal-name {
  animation: 0.5s linear 0s 1 topicValueAnimation;
  font-size: 18px;
  color: #333;
}

.bar {
  animation: 0.5s linear 0s 1 slideUpBarAnimation;
  transform-origin: bottom;
  animation-fill-mode: forwards;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 40px;
  margin: auto;
}

.current-topic-header {
  font-size: 64px;
  margin: 20px;
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 6vh;
  color: #333;
}

.animal-section-open-button {
  width: 50px;
  height: 20px;
  border: none;
  outline: none;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  color: #333;
  transition: 0.5s;
}

.animal-section-open-button:hover {
  height: 30px;
  background-color: var(--select-color);
}

.animal-section {
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  position: absolute;
  transition: 0.5s;
  padding: 20%;
}

.animal-section h1 {
  text-align: center;
  font-size: 24px;
  color: #aaa;
  margin: 20px;
}

.animal-section,
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.submit-form-button {
  outline: none;
  border: none;
  border-radius: 100px;
  width: 200px;
  height: 75px;
  font-size: 36px;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-bottom: 2px;
  color: white;
  background-image: linear-gradient(#aadcff, #cc9eff);
  box-shadow: 0px 4px 0px rgb(255 126 162 / 25%);
}

.submit-form-button:hover {
  background-color: var(--select-color);
}

.checkboxes-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 100px;
  justify-content: center;
}

.checkbox {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}

input[type='checkbox'] + label {
  background-image: linear-gradient(rgb(159 237 150), rgb(34 205 182));
  margin: 8px;
  padding: 16px;
  border-radius: 100px;
  box-shadow: 0px 4px 0px rgb(255 126 162 / 25%);
  color: white;
  font-size: 24px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: 1s;
}

input[type='checkbox']:hover + label {
  transform: translateY(-4px);
  box-shadow: 0px 8px 0px rgb(255 126 162 / 25%);
}

input[type='checkbox']:checked + label {
  background-image: linear-gradient(rgb(255 193 148), rgb(255 221 128));
  transform: translateY(4px);
  box-shadow: none;
  color: #ffffff;
}

.compare-warning {
}

@keyframes slideUpBarAnimation {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  80% {
    transform: scaleY(1);
  }
  90% {
    transform: scaleY(0.96);
  }
  100% {
    transform: scaleY(1);
    background-image: linear-gradient(rgb(255, 196, 108), rgb(255, 101, 101));
    opacity: 1;
  }
}

@keyframes topicValueAnimation {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  80% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@media screen and (max-width: 540px) {
  input[type='checkbox'] + label {
    margin: 6px;
    padding: 10px;
    font-size: 20px;
  }

  .submit-form-button {
    font-size: 28px;
    width: 150px;
    height: 60px;
  }

  .animal-section {
    padding: 10%;
  }

  .checkboxes-container {
    margin-bottom: 60px;
  }

  .data-point-container {
    width: 40px;
  }

  .bar {
    width: 30px;
  }

  .topic-value {
    width: 40px;
    height: 40px;
    padding-top: 6px;
    font-size: 20px;
  }

  .animal-name {
    font-size: 16px;
  }
}

@media screen and (max-width: 359px) {
  .topic-value {
    width: 30px;
    height: 30px;
    padding-top: 2px;
    font-size: 18px;
  }

  .bar {
    width: 20px;
  }

  .animal-name {
    font-size: 20px;
    writing-mode: vertical-lr;
    margin-left: 9px;
  }

  .data-point-container {
    margin: 0;
  }
}
